/** @format */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

/* .hero-header {
  background-image: url('/bg1.webp');
  background-repeat: no-repeat;
  background-size: cover;
} */
